* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

body {
  background: var(--body-bg-color);
  height: 100vh;
}

body * {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

#container {
  display: flex;
  gap: 20px;
}

main h1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  margin-top: 18px;
}

header nav {
  background: var(--green);
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: max(100vh, 500px);
}

header nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

header nav div img {
  margin-top: 13px;
}

header nav div img:first-child {
  margin: 0;
}

header nav div img:nth-child(2) {
  background: var(--light-grey);
  border-radius: 12px;
  padding: 13px;
  margin-top: 5px;
}

header nav div img:nth-child(3) {
  margin-top: 0;
}

#logout-icon {
  background: rgba(220, 228, 227, 0.6);
  padding: 18px 27px;
}
